@font-face {
    font-family: 'Lemon';
    src: 
        local('Lemon-Regular'),
        url('/fonts/Lemon-Regular.ttf');
    font-weight: regular;
}

@font-face {
    font-family: 'NotoSans';
    src: 
        local('NotoSans'),
        url('/fonts/NotoSans-VariableFont_wdth,wght.ttf');
    font-weight: 400;
    font-variation-settings: "wght" 200;
}

:root {
    font-size: 1px;
    --color-text: darkslateblue;
    --color-button-main: white;
    --color-button-secondary: var(--color-text);
    --color-button-secondary-hover: var(var(--bgColor-button-main-hover));
    --color-button-danger: tomato;
    
    --borderColor: lavender;
    --borderColor-button-main: var(--bgColor-button-main);
    --borderColor-button-main-hover: var(--bgColor-button-main-hover);
    --borderColor-button-secondary: var(--borderColor);
    --borderColor-button-secondary-hover: var(--borderColor-button-main-hover);
    
    --bgColor-disabled: ghostwhite;
    --bgColor-active: aliceblue;
    
    --bgColor-button-main: var(--color-text);
    --bgColor-button-main-hover: midnightblue;

    --section-padding: 30rem;
    --section-spacing: 30rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: inherit;
}

button {
    border: 0;
    outline: 0;
    background: none;
    cursor: pointer;
}

[contenteditable] {
    border: 0;
    outline: 0;
    border-bottom: 2px dotted transparent;
    padding-top: 2px;
    min-width: 1em;
}
[contenteditable]:hover {
    border-color: var(--borderColor);
}

[contenteditable]:focus {
    border-color: var(--borderColor);
}

body {
    font-size: 16rem;
    font-family: 'NotoSans', sans-serif;
    color: var(--color-text);
    margin: 0;
}

.app > * {
    padding-left: var(--section-padding);
    padding-right: var(--section-padding);

    margin-top: var(--section-spacing);
}